<div class="inicio-container">
  <div class="navbar">
    <img src="img/arriba.png" alt="Logo MEGA" class="logo-izquierda" />
    <div class="nav-buttons">
      <a routerLink="/deuda" class="nav-button">Deuda</a>
      <a routerLink="/promocion" class="nav-button">Configurar Promociones</a>
    </div>
  </div>

  <div class="contenido-central">
    <h2>BIENVENIDA A LA APP DE</h2>
    <img src="img/centro.png" alt="Logo MEGA centro" class="logo-centro" />
    <p>
      Aqui podras consultar la deuda total de un suscriptor tomando en cuenta
      los servicios contratados y las promociones aplicables.
    </p>
    <p>
      Tambien podras definir y gestionar promociones con base en diferentes
      criterios
    </p>
  </div>
</div>

