<div class="inicio-container">
  <div class="navbar" style="background-color: #149BD3;">
    <h1>MEGA</h1>
    <div class="nav-buttons">
        <a routerLink="/deuda" class="nav-button">Deuda</a>
        <a routerLink="/promocion" class="nav-button">Configurar Promociones</a>
    </div>
  </div>

  <div class="container">
    <h2>Bienvenido/Bienvenida a la app de MEGA </h2>
    <p>Aquí podrás consultar la deuda total de un suscriptor tomando en cuenta los servicios contratados y las promociones aplicables.</p>
    <p>También podrás definir y gestionar promociones basados en diferentes criterios</p>
  </div>

</div>
